<!-- views/index.ejs -->
<meta charset="UTF-8">
<title>BOTutor</title>
<h3>Servizio web per la gestione di <a href="https://it.wikipedia.org/wiki/Utente:BOTutor">BOTutor</a></h3>
<ul>
    <li><a href="/it">itwiki</a></li>
</ul>